body {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc; 
}

.container {
  padding: 20px; 
  border: 1px solid #ccc; 
}

.question-container form {
  display: flex;
  flex-wrap: wrap;
}

.question-container div {
  width: 50%; 
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: center;
}


.question-container {
  margin-bottom: 20px;
}

.navigation-container {
  text-align: center;
  margin-top: 20px; 
}


.navigation-container button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
}

.option {
  flex-basis: 50%;
  margin-bottom: 10px; 
  margin-left: 20px;
}

.card-footer text-muted{
  margin-left: 20px;
}

.timer-container {
  text-align: right;
  margin-right: 20px; 
  color: #007BFF;
}